/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* фон - Photo by
<a href="https://unsplash.com/@declansun?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Declan Sun</a>
on
<a href="https://unsplash.com/photos/a-row-of-bookshelves-filled-with-lots-of-books-aon-6I6Y6uQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header-buttons-container {
    display: flex;
    gap: 1rem;
}

.header-button,
.header-button:visited {
    color: #000;
    display: flex;
    align-items: center;
    background-color: var(--a-light-color);
    gap: 0.3rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.header-button:hover,
.header-button:focus {
    background-color: var(--a-blue-color);
    color: var(--a-light-color);
}

* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
}


:root {
    --dark-color-green: #0c6109;
    --light-color-green: #52b04f;
    --dark-color-red: #8f170a;
    --dark-color: #0a0100;
    --light-color: #fff;
    --grey-color: #c4bdbc;
    --dark-gray-color: #5e5858;
    --light-color-red: #de7e73;
}

.add-button:hover,
.add-button:focus {
    background-color: var(--dark-gray-color);
}

.add-button {
    background-color: var(--grey-color);
}

.main-tasks-container {
    max-height: 95vh;
}

.done-tasks-container,
.deadline-tasks-container {
    max-height: 45vh;
}

.done-tasks-container,
.main-tasks-container,
.deadline-tasks-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.deadline-tasks-container .task-body  {
    background-color: var(--dark-color-red);
}

.deadline-tasks-container .task  {
    background-color: var(--light-color-red);
    border-color: var(--dark-color-red);
}

.done-tasks-container .task-body {
    background-color: var(--dark-color-green);
}

.done-tasks-container .task {
    border-color: var(--dark-color-green);
    background-color: var(--light-color-green);
}

button {
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1rem;
}

#root {
    height: 100%;
    max-height: 100dvh;
}

.interface-container {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.done-tasks [class$="button"]:focus,
.done-tasks [class$="button"]:hover {
    background-color: var(--light-color-green);
}

.soon-late-date {
    color: var(--light-color-red);
}

.deadline-tasks [class$="button"]:focus,
.deadline-tasks [class$="button"]:hover {
    background-color: var(--light-color-red);
}

.main-tasks,
.done-tasks,
.deadline-tasks {
    gap: 0.5rem;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    border-radius: 10px;
}

.deadline-tasks {
    border-color: var(--dark-color-red);
}

.add-window {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    /* коррекция положения элемента */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ofther-tasks-container {
    flex-direction: column;
    grid-template-rows: repeat(2, 1fr);
    display: grid;
}

.add-window-none {
    display: none;
}

.delete-button,
.change-button,
.done-button {
    background-color: var(--light-color);
}

.select-buttons-container {
    display: flex;
    gap: 0.5rem;
}

.delete-button:hover,
.delete-button:focus,
.change-button:focus,
.change-button:hover,
.done-button:focus,
.done-button:hover,
.select-buttons-container button:focus,
.select-buttons-container button:hover,
.change-add-form button:focus,
.change-add-form button:hover {
    background: var(--dark-gray-color);
    font-size: 1rem;
}

.change-add-form {
    height: 80%;
    width: 35%;
    border-radius: 10px;
    background-color: aliceblue;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 5rem;
    display: flex;
    margin: 5rem;
    flex-direction: column;
}

.task-body {
    margin: 0.5rem;
    background-color: var(--grey-color);
    border-radius: 10px;
    padding: 0.3rem;
    flex-direction: column;
    display: flex;
}

.task h2 {
    font-size: 1.2rem;
}

.task {
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: var(--grey-color) solid;
}

.task-buttons-time {
    display: flex;
}
    
.description {
    max-width: 45rem;
    overflow-wrap: break-word;
    margin: 0.2rem;
}

[id^="task-description"] {
    resize: none;
    flex: 4;
}

.delete-button {
    margin: 0.2rem;
}

.time-container {
    display: flex;
    margin: 0.2rem;
    flex-direction: column;
}

.change-button {
    margin: 0.2rem;
}
